/**
 * Page styles
 */

.page {
  padding-bottom: 40px;

  &-header {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0;
  }

  &__title {
    margin-top: 0;
  }

  &__title .presence-indicator {
    margin-left: 15px;
  }

  &__subtitle {
    color: material-color('cyan', '700');
  }

  &-header + &__content {
    margin-top: 30px;
  }

  &-header__right {
    margin-top: 15px;
  }
}

@media #{$screen-sm} {
  .page-header {
    flex-direction: row;
    align-items: center;
  }

  .page-header__right {
    margin-top: 0;
    margin-left: auto;
  }
}

/**
 * Page form
 */

.page-form {
  padding: 30px;

  & + .page-form {
    margin-top: 30px;
  }
}

/**
 * Page details
 */

.page-details {
  padding: 30px;

  & + .page-actions,
  & + .page-details {
    margin-top: 30px;
  }

  &__row {
    padding-top: 20px;
  }

  &__row:first-child {
    padding-top: 0;
  }

  &__label + &__text {
    margin-left: 15px;
  }
}

/**
 * Page actions
 */

.page-actions {
  &__row {
    @extend %row;
  }

  &__column,
  &__column--right {
    @include column(12);
    padding-top: 20px;
  }

}

@media #{$screen-md} {
  .page-actions__column,
  .page-actions__column--right {
    @include column(4);
    padding-top: 0;
  }

  .page-actions__column--right {
    float: right;
  }
}
