/**
 * Page styles
 */

.page {
  &-header {
    display: flex;
    flex-direction: column;
    padding: 60px 0 0;
  }

  &__title {
    margin-top: 0;
  }

  &__subtitle {
    color: material-color('cyan', '700');
  }

  &-header + &__content {
    margin-top: 30px;
  }

  &-header__right {
    margin-top: 15px;
  }
}

@media #{$screen-sm} {
  .page-header {
    flex-direction: row;
    align-items: center;
  }

  .page-header__right {
    margin-top: 0;
    margin-left: auto;
  }
}

/**
 * Page form
 */

.page-form {
  padding: 30px;
}

