html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
}

body {
  background-color: material-color('grey', '50');
  font: 14px/22px 'Roboto', sans-serif;
  font-weight: 400;
  color: material-color('grey', '800');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  position: relative;
  height: auto;
  min-height: 100%;
}

a,
input,
button,
textarea,
select {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus,
  &:active {
    outline: 0;
  }
}

button {
  background: none;
  cursor: pointer;
}

input {
  box-sizing: border-box;
}
