@include make-columns-grid($grid-columns);

@include generate-columns(12, 'xs');

.container {
  @extend %container;
}

.container--full-height {
  @extend %container;
  @include get-fixed-vh('height', 100);
}

.container--content-centered {
  @extend .container--full-height;
  display: flex;
  align-items: center;
  justify-content: center
}

@media #{$screen-sm} {
  @include generate-columns(12, 'sm');
}

@media #{$screen-md} {
  @include generate-columns(12, 'md');
}

@media #{$screen-lg} {
  @include generate-columns(12, 'lg');
}
