@import 'node_modules/sass-material-colors/sass/sass-material-colors';

@import '../base/settings';

/**
 * Photos selection
 */

.photos-selection {
  padding: 30px 0;

  &__header {
    margin-bottom: 40px;
  }

  &__item {
    transition: box-shadow $duration;
  }

  &__item.is-active {
    box-shadow: 0 0 0 5px rgba(material-color('cyan', '700'), 0.8);
  }

  &__checkbox {
    display: inline-block;
  }

  &__actions {
    width: 96px;
  }
}


/**
 * Photos selection reorder
 */

.photos-selection--reorder {
  counter-reset: photo;

  .photos-selection__item {
    position: relative;
    counter-increment: photo;
    cursor: grab;
  }

  .photos-selection__item:before {
    content: counter(photo);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: material-color('pink', '500');
    color: #fff;
    text-align: center;
  }
}
