@import 'node_modules/sass-material-colors/sass/sass-material-colors';

@import '../base/settings';

/**
 * Input file
 */

.photo-preview {
  position: relative;
  width: 200px;
  height: 200px;

  &__caption {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 68px;
    padding: 0 15px;
    background-color: rgba(#000, .4);
  }

  &__input {
    width: 100%;
    color: #fff;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: material-color('grey', '200');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
