@import 'node_modules/sass-material-colors/sass/sass-material-colors';

/**
 * Login form
 */

.login-form {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;

  &__header {
    padding: 40px 0;
    text-align: center;
  }

  &__subtitle {
    color: material-color('cyan', '700');
  }

  &__content {
    padding: 30px;
  }
}
